atomicwrites==1.4.0
attrs==20.3.0
colorama==0.4.4
coverage==5.3.1
docstring-parser==0.7.3
iniconfig==1.1.1
more-itertools==8.5.0
packaging==20.4
pedantic==1.2.7
pluggy==0.13.1
py==1.10.0
pyparsing==2.4.7
pytest==6.0.2
six==1.15.0
toml==0.10.2
